<div class="card border-info mb-4">
    <div class="card-header">
        <h4 class="card-text">
            <% if member_signed_in? %>
                <%= post.member.name %>
                <small class="text-muted"><%= "@#{post.member.username}" %></small>
            <% else %>
                Anonymous
            <% end %>
        </h4>
    </div>
    <div class="card-body">
        <p class="card-text"><%= post.body %></p>
    </div>
    <div class="card-footer bg-transparent">
        <p class="card-text text-muted"><%= post.created_at.to_formatted_s(:long_ordinal) %></p>
    </div>
</div>